
.photo-gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(52, 51, 51);
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 16px;
    max-width: 800px;
    box-sizing: border-box;
}



.image-container{
   /* position: relative; */
   left: 0px;
   width: 80px;
   border-radius: 16px;
   height: 360px;
   overflow: hidden;
   background-color: var(--background);
   transition:.4s ease-in-out;
   box-shadow: 0 5px 12px;
   flex: 0.25;
}
.image-container img {
    width: 100%;
    height: 360px;
}
.image-container:hover{
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}






